<section id="manager-task-selection-section">
    <div class="select-option">
        <button ng-class="btnClass1" class="btn btn-light btn-lg add-cus-btn" (click)="goToPage('manager/addCust')">Add Customer</button>
        <button ng-class="btnClass2" class="btn btn-light btn-lg open-acc-btn" (click)="goToPage('manager/openAccount')">Open Account</button>
        <button ng-class="btnClass3" class="btn btn-light btn-lg cus-btn" (click)="goToPage('manager/list')">Customers</button>
    </div>
</section>