.add-cus-btn,
.open-acc-btn,
.cus-btn {
    margin-top: 15px;
    background-color: #EFEFEF;
    margin-right: 2px;
}


/* .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
} */

.select-option {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    min-width: 300px;
    max-width: 750px;
}

.add-cus-btn:focus,
.open-acc-btn:focus,
.cus-btn:focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.notch {
    position: absolute;
    top: 24%;
    left: 36%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #337ab7;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}